@keyframes slide-up {
    from {
        transform: translateY(20px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}

@keyframes button-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .list-container {
        flex-direction: column;
    }

    .left-box,
    .right-box {
        width: 100%;
    }
}

.left-box {
    display: inline-block; 
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 100%;
    max-width: 100%; 
}

.student-filter-list {
    list-style: none;
    padding: 0;
}

.student-filter-list li {
    margin-bottom: 10px;
}

.student-filter-list input {
    margin-right: 10px;
}

.right-box {
    width: 75%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entry-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    align-items: center; 
    text-align: center;
    height: 100%;
    background-color: #ffffff;
    padding: 40px 40px; 
    gap: 50px; 
}

.entry-list-wrapper {
    background-color: #f4f4f4;
    padding: 30px; 
    font-size: 0.7em;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    overflow-y: auto; 
    border: 10px solid #f4f4f4; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
    animation: slide-up 0.5s ease forwards;
}

.entry-list-wrapper:hover {
    background-color: #ededed; 
}

.entry-list-wrapper::-webkit-scrollbar {
    width: 10px;
}

.entry-list-wrapper::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}

.entry-list-wrapper::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 10px;
}

.title {
    font-size: 1.8em;
    color: #6ba1ff;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
}

.entry-form-wrapper p {
    overflow-y: auto;
    max-height: 100%; 
}

a {
    text-decoration: none; 
}

.viewdetails-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #4086ff;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.viewdetails-btn:hover {
    background-color: #6ba1ff;
    color: #fff;
}

.viewdetails-btn:active {
    animation: button-click 0.3s ease;
}

.no-entries-message {
    display: flex;
    justify-content: center; 
    color: #6ba1ff; 
    text-align: center; 
    margin-top: 30px;
  }

.list-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .list-container {
        flex-direction: column;
    }

    .left-box,
    .right-box {
        width: 100%;
    }
}
