@keyframes slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scale-up {
    0% {
        transform: scale(0.98);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.entry-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    background-color: #ffffff; 
    flex-direction: column;
    flex-wrap: wrap;
}

.entry-form-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;  
    width: 90%; 
    align-items: center; 
}

.entry-form {
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 800px;
    min-height: 500px; 
    max-height: 800px; 
    box-sizing: border-box;
    animation: slide-up 0.4s ease-out, scale-up 0.3s ease-in-out;
}

.prompts {
    text-align: center;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 25px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 500px;
    min-height: 500px; 
    max-height: 500px; 
    box-sizing: border-box;
    animation: slide-up 0.4s ease-out, scale-up 0.3s ease-in-out;
    overflow-y: auto; 
    justify-content: center;
    border: 25px solid #f5f5f5;
    margin-bottom: 20px;
}

.prompts ul {
    list-style-type: none;
    padding: 10px;
}

.prompts li {
    margin-bottom: 15px;
    color: #8a8a8a;
}

.prompts::-webkit-scrollbar {
    width: 10px;
}

.prompts::-webkit-scrollbar-thumb {
    background-color: #f3f3f3;
    border-radius: 10px;
}

.prompts::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #2d7aff !important; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6ba1ff;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    font-size: 16px;
    min-height: 50px;
}

.form-control:focus {
    border-color: #2d7aff ; 
    outline: none;
}

textarea {
    height: 300px; 
    max-height: 600px; 
    resize: vertical; 
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #2d7aff ;
    color: #fff;
    border: none;
    border-radius: 8px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.btn-submit:hover {
    background-color: #2063d5 ; 
}