.custom-navbar {
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

.nav-link {
    padding: 8px 16px !important;
    border-radius: 10px !important;
    transition: background-color 0.2s ease !important; 
    color: #8b8b8b !important;
}

.nav-link:hover {
    background: linear-gradient(to right, #2d7aff, #00d8d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offcanvasToggle {
    color: white; 
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.offcanvasToggle:hover {
    background: linear-gradient(to right, rgba(30, 182, 184, 0.7), rgba(45, 122, 255, 0.7));
}