body {
    font-family: 'Lexend', sans-serif;
  }

.cobalt {
    background: linear-gradient(to right, #2d7aff, #00d8d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}